In [1]:
import pandas as pd

In [25]:
import ast

In [2]:
df = pd.read_json('hackathon_carbon_dataset.json')

In [3]:
df.head()

,id,name,expiresAt,price,weight,packagingUnit,available
0,8376291,Organic Cherry Tomatoes,2024-09-23,2.99,250g,punnet,48
1,5728364,Sweet Potatoes,2024-10-15,1.79,1kg,bag,23
2,9126483,Broccoli Florets,2024-09-18,2.49,400g,bag,17
3,4537281,Red Bell Peppers,2024-12-02,1.29,500g,each,62
4,1928374,Baby Spinach,2024-09-27,3.99,150g,bag,8

In [4]:
df.describe()

                 id       price   available
count  3.530000e+02  353.000000  353.000000
mean   5.426923e+06    5.359518   23.966006
std    2.575403e+06    4.681245   22.244355
min    1.098765e+06    0.590000    2.000000
25%    2.958174e+06    2.390000   11.000000
50%    5.628473e+06    3.790000   18.000000
75%    7.492831e+06    6.490000   30.000000
max    9.876549e+06   24.990000  200.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353 entries, 0 to 352
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             353 non-null    int64
 1   name           353 non-null    object
 2   expiresAt      353 non-null    object
 3   price          353 non-null    float64
 4   weight         353 non-null    object
 5   packagingUnit  353 non-null    object
 6   available      353 non-null    int64
dtypes: float64(1), int64(2), object(4)
memory usage: 19.4+ KB

In [7]:
df.isnull()

        id   name  expiresAt  price  weight  packagingUnit  available
0    False  False      False  False   False          False      False
1    False  False      False  False   False          False      False
2    False  False      False  False   False          False      False
3    False  False      False  False   False          False      False
4    False  False      False  False   False          False      False
..     ...    ...        ...    ...     ...            ...        ...
348  False  False      False  False   False          False      False
349  False  False      False  False   False          False      False
350  False  False      False  False   False          False      False
351  False  False      False  False   False          False      False
352  False  False      False  False   False          False      False

[353 rows x 7 columns]

In [22]:
hist = pd.read_csv('historical_purchase_data.csv')

In [26]:
hist['purchase'] = hist['purchase'].apply(ast.literal_eval)

In [27]:
hist

,id,company_name,pincode,sector,purchase
0,1,Company_1,98694,food_industry,"[{'item': 'Brown Rice', 'price': 2.69, 'date':..."
1,2,Company_2,98693,food_industry,"[{'item': 'Basmati Rice', 'price': 3.99, 'date..."
2,3,Company_3,98696,fruit_vendor,"[{'item': 'Lemons', 'price': 0.69, 'date': '20..."
3,4,Company_4,98694,clubs_and_bars,"[{'item': 'Lemons', 'price': 0.69, 'date': '20..."
4,5,Company_5,98696,bakeries_and_pastry,"[{'item': 'Gluten-Free Bread', 'price': 5.29, ..."
5,6,Company_6,98696,food_industry,"[{'item': 'Brown Rice Cakes', 'price': 2.49, '..."
6,7,Company_7,98694,clubs_and_bars,"[{'item': 'Avocados', 'price': 1.89, 'date': '..."
7,8,Company_8,98694,fruit_vendor,"[{'item': 'Lemons', 'price': 0.69, 'date': '20..."
8,9,Company_9,98694,restaurants_and_cafe,"[{'item': 'Brown Rice', 'price': 2.69, 'date':..."
9,10,Company_10,98694,food_industry,"[{'item': 'Brown Rice', 'price': 2.69, 'date':..."
10,11,Company_11,98694,fruit_vendor,"[{'item': 'Green Zucchini', 'price': 1.99, 'da..."
11,12,Company_12,98693,clubs_and_bars,"[{'item': 'Avocados', 'price': 1.89, 'date': '..."
12,13,Company_13,98694,food_industry,"[{'item': 'Brown Rice Cakes', 'price': 2.49, '..."
13,14,Company_14,98694,bakeries_and_pastry,"[{'item': 'Wheat Flour', 'price': 1.49, 'date'..."
14,15,Company_15,98693,restaurants_and_cafe,"[{'item': 'Organic Spinach', 'price': 2.99, 'd..."
15,16,Company_16,98694,bakeries_and_pastry,"[{'item': 'Garlic Naan Bread (2 pieces)', 'pri..."
16,17,Company_17,98694,food_industry,"[{'item': 'Basmati Rice', 'price': 3.99, 'date..."
17,18,Company_18,98694,clubs_and_bars,"[{'item': 'Avocados', 'price': 2.29, 'date': '..."
18,19,Company_19,98693,restaurants_and_cafe,"[{'item': 'Frozen Breaded Shrimp', 'price': 10..."
19,20,Company_20,98693,restaurants_and_cafe,"[{'item': 'Frozen Breaded Fish Sticks', 'price..."

In [28]:
hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20 non-null     int64
 1   company_name  20 non-null     object
 2   pincode       20 non-null     int64
 3   sector        20 non-null     object
 4   purchase      20 non-null     object
dtypes: int64(2), object(3)
memory usage: 932.0+ bytes

In [29]:
hist_exploded = hist.explode('purchase')

In [30]:
hist_exploded

,id,company_name,pincode,sector,purchase
0,1,Company_1,98694,food_industry,"{'item': 'Brown Rice', 'price': 2.69, 'date': ..."
0,1,Company_1,98694,food_industry,"{'item': 'Rice Cakes', 'price': 1.99, 'date': ..."
0,1,Company_1,98694,food_industry,"{'item': 'Brown Rice Cakes', 'price': 2.49, 'd..."
1,2,Company_2,98693,food_industry,"{'item': 'Basmati Rice', 'price': 3.99, 'date'..."
1,2,Company_2,98693,food_industry,"{'item': 'Rice Cakes', 'price': 1.99, 'date': ..."
2,3,Company_3,98696,fruit_vendor,"{'item': 'Lemons', 'price': 0.69, 'date': '202..."
2,3,Company_3,98696,fruit_vendor,"{'item': 'Cherry Tomatoes', 'price': 2.79, 'da..."
2,3,Company_3,98696,fruit_vendor,"{'item': 'Green Zucchini', 'price': 1.99, 'dat..."
3,4,Company_4,98694,clubs_and_bars,"{'item': 'Lemons', 'price': 0.69, 'date': '202..."
4,5,Company_5,98696,bakeries_and_pastry,"{'item': 'Gluten-Free Bread', 'price': 5.29, '..."
4,5,Company_5,98696,bakeries_and_pastry,"{'item': 'Whipping Cream', 'price': 2.99, 'dat..."
5,6,Company_6,98696,food_industry,"{'item': 'Brown Rice Cakes', 'price': 2.49, 'd..."
5,6,Company_6,98696,food_industry,"{'item': 'Rice Cakes', 'price': 1.99, 'date': ..."
5,6,Company_6,98696,food_industry,"{'item': 'Brown Rice', 'price': 2.69, 'date': ..."
6,7,Company_7,98694,clubs_and_bars,"{'item': 'Avocados', 'price': 1.89, 'date': '2..."
7,8,Company_8,98694,fruit_vendor,"{'item': 'Lemons', 'price': 0.69, 'date': '202..."
8,9,Company_9,98694,restaurants_and_cafe,"{'item': 'Brown Rice', 'price': 2.69, 'date': ..."
8,9,Company_9,98694,restaurants_and_cafe,"{'item': 'Rice Cakes', 'price': 1.99, 'date': ..."
9,10,Company_10,98694,food_industry,"{'item': 'Brown Rice', 'price': 2.69, 'date': ..."
9,10,Company_10,98694,food_industry,"{'item': 'Rice Cakes', 'price': 1.99, 'date': ..."
10,11,Company_11,98694,fruit_vendor,"{'item': 'Green Zucchini', 'price': 1.99, 'dat..."
10,11,Company_11,98694,fruit_vendor,"{'item': 'Yellow Bell Peppers', 'price': 1.39,..."
10,11,Company_11,98694,fruit_vendor,{'item': 'Instant Oatmeal with Fruits and Nuts...
11,12,Company_12,98693,clubs_and_bars,"{'item': 'Avocados', 'price': 1.89, 'date': '2..."
12,13,Company_13,98694,food_industry,"{'item': 'Brown Rice Cakes', 'price': 2.49, 'd..."
12,13,Company_13,98694,food_industry,"{'item': 'Basmati Rice', 'price': 3.99, 'date'..."
13,14,Company_14,98694,bakeries_and_pastry,"{'item': 'Wheat Flour', 'price': 1.49, 'date':..."
13,14,Company_14,98694,bakeries_and_pastry,"{'item': 'Cream Cheese', 'price': 2.89, 'date'..."
13,14,Company_14,98694,bakeries_and_pastry,"{'item': 'Salted Butter', 'price': 4.19, 'date..."
14,15,Company_15,98693,restaurants_and_cafe,"{'item': 'Organic Spinach', 'price': 2.99, 'da..."
14,15,Company_15,98693,restaurants_and_cafe,"{'item': 'Rye Bread', 'price': 4.59, 'date': '..."
15,16,Company_16,98694,bakeries_and_pastry,"{'item': 'Garlic Naan Bread (2 pieces)', 'pric..."
15,16,Company_16,98694,bakeries_and_pastry,"{'item': 'Sourdough Bread', 'price': 5.29, 'da..."
16,17,Company_17,98694,food_industry,"{'item': 'Basmati Rice', 'price': 3.99, 'date'..."
17,18,Company_18,98694,clubs_and_bars,"{'item': 'Avocados', 'price': 2.29, 'date': '2..."
17,18,Company_18,98694,clubs_and_bars,"{'item': 'Avocados', 'price': 1.89, 'date': '2..."
18,19,Company_19,98693,restaurants_and_cafe,"{'item': 'Frozen Breaded Shrimp', 'price': 10...."
18,19,Company_19,98693,restaurants_and_cafe,"{'item': 'Gluten-Free Bread', 'price': 5.29, '..."
18,19,Company_19,98693,restaurants_and_cafe,"{'item': 'Gluten-Free Bread', 'price': 5.29, '..."
19,20,Company_20,98693,restaurants_and_cafe,"{'item': 'Frozen Breaded Fish Sticks', 'price'..."

In [31]:
df_normalized = pd.json_normalize(hist_exploded['purchase'])

In [32]:
df_normalized

,item,price,date,expiresAt,purchase_quantity
0,Brown Rice,2.69,2024-10-26,2024-11-05,42
1,Rice Cakes,1.99,2025-07-12,2025-07-22,13
2,Brown Rice Cakes,2.49,2025-07-12,2025-07-22,47
3,Basmati Rice,3.99,2024-10-09,2024-10-15,12
4,Rice Cakes,1.99,2025-07-12,2025-07-22,39
5,Lemons,0.69,2024-12-08,2024-12-18,2
6,Cherry Tomatoes,2.79,2024-09-05,2024-09-15,10
7,Green Zucchini,1.99,2024-09-15,2024-09-21,43
8,Lemons,0.69,2024-12-08,2024-12-18,6
9,Gluten-Free Bread,5.29,2024-12-31,2025-01-05,40
10,Whipping Cream,2.99,2024-10-06,2024-10-16,2
11,Brown Rice Cakes,2.49,2025-07-16,2025-07-22,4
12,Rice Cakes,1.99,2025-07-12,2025-07-22,13
13,Brown Rice,2.69,2024-10-30,2024-11-05,24
14,Avocados,1.89,2025-02-07,2025-02-12,7
15,Lemons,0.69,2024-12-08,2024-12-18,32
16,Brown Rice,2.69,2024-10-31,2024-11-05,36
17,Rice Cakes,1.99,2025-07-12,2025-07-22,24
18,Brown Rice,2.69,2024-10-30,2024-11-05,13
19,Rice Cakes,1.99,2025-07-12,2025-07-22,36
20,Green Zucchini,1.99,2024-09-11,2024-09-21,14
21,Yellow Bell Peppers,1.39,2024-10-02,2024-10-12,35
22,Instant Oatmeal with Fruits and Nuts,4.29,2025-02-14,2025-02-19,7
23,Avocados,1.89,2025-02-07,2025-02-12,17
24,Brown Rice Cakes,2.49,2025-07-16,2025-07-22,49
25,Basmati Rice,3.99,2024-10-09,2024-10-15,47
26,Wheat Flour,1.49,2025-05-02,2025-05-08,39
27,Cream Cheese,2.89,2024-11-07,2024-11-12,13
28,Salted Butter,4.19,2024-11-16,2024-11-22,13
29,Organic Spinach,2.99,2024-10-20,2024-10-25,44
30,Rye Bread,4.59,2024-09-21,2024-09-27,16
31,Garlic Naan Bread (2 pieces),2.29,2025-04-29,2025-05-09,44
32,Sourdough Bread,5.29,2024-09-21,2024-09-27,34
33,Basmati Rice,3.99,2024-10-10,2024-10-15,37
34,Avocados,2.29,2024-09-30,2024-10-05,27
35,Avocados,1.89,2025-02-07,2025-02-12,50
36,Frozen Breaded Shrimp,10.49,2025-08-25,2025-09-04,28
37,Gluten-Free Bread,5.29,2024-12-26,2025-01-05,21
38,Gluten-Free Bread,5.29,2024-12-26,2025-01-05,42
39,Frozen Breaded Fish Sticks,4.99,2025-11-02,2025-11-07,49

In [34]:
hist_final = pd.concat([hist_exploded.drop(columns='purchase').reset_index(drop=True), df_normalized], axis=1)

In [35]:
hist_final

,id,company_name,pincode,sector,item,price,date,expiresAt,purchase_quantity
0,1,Company_1,98694,food_industry,Brown Rice,2.69,2024-10-26,2024-11-05,42
1,1,Company_1,98694,food_industry,Rice Cakes,1.99,2025-07-12,2025-07-22,13
2,1,Company_1,98694,food_industry,Brown Rice Cakes,2.49,2025-07-12,2025-07-22,47
3,2,Company_2,98693,food_industry,Basmati Rice,3.99,2024-10-09,2024-10-15,12
4,2,Company_2,98693,food_industry,Rice Cakes,1.99,2025-07-12,2025-07-22,39
5,3,Company_3,98696,fruit_vendor,Lemons,0.69,2024-12-08,2024-12-18,2
6,3,Company_3,98696,fruit_vendor,Cherry Tomatoes,2.79,2024-09-05,2024-09-15,10
7,3,Company_3,98696,fruit_vendor,Green Zucchini,1.99,2024-09-15,2024-09-21,43
8,4,Company_4,98694,clubs_and_bars,Lemons,0.69,2024-12-08,2024-12-18,6
9,5,Company_5,98696,bakeries_and_pastry,Gluten-Free Bread,5.29,2024-12-31,2025-01-05,40
10,5,Company_5,98696,bakeries_and_pastry,Whipping Cream,2.99,2024-10-06,2024-10-16,2
11,6,Company_6,98696,food_industry,Brown Rice Cakes,2.49,2025-07-16,2025-07-22,4
12,6,Company_6,98696,food_industry,Rice Cakes,1.99,2025-07-12,2025-07-22,13
13,6,Company_6,98696,food_industry,Brown Rice,2.69,2024-10-30,2024-11-05,24
14,7,Company_7,98694,clubs_and_bars,Avocados,1.89,2025-02-07,2025-02-12,7
15,8,Company_8,98694,fruit_vendor,Lemons,0.69,2024-12-08,2024-12-18,32
16,9,Company_9,98694,restaurants_and_cafe,Brown Rice,2.69,2024-10-31,2024-11-05,36
17,9,Company_9,98694,restaurants_and_cafe,Rice Cakes,1.99,2025-07-12,2025-07-22,24
18,10,Company_10,98694,food_industry,Brown Rice,2.69,2024-10-30,2024-11-05,13
19,10,Company_10,98694,food_industry,Rice Cakes,1.99,2025-07-12,2025-07-22,36
20,11,Company_11,98694,fruit_vendor,Green Zucchini,1.99,2024-09-11,2024-09-21,14
21,11,Company_11,98694,fruit_vendor,Yellow Bell Peppers,1.39,2024-10-02,2024-10-12,35
22,11,Company_11,98694,fruit_vendor,Instant Oatmeal with Fruits and Nuts,4.29,2025-02-14,2025-02-19,7
23,12,Company_12,98693,clubs_and_bars,Avocados,1.89,2025-02-07,2025-02-12,17
24,13,Company_13,98694,food_industry,Brown Rice Cakes,2.49,2025-07-16,2025-07-22,49
25,13,Company_13,98694,food_industry,Basmati Rice,3.99,2024-10-09,2024-10-15,47
26,14,Company_14,98694,bakeries_and_pastry,Wheat Flour,1.49,2025-05-02,2025-05-08,39
27,14,Company_14,98694,bakeries_and_pastry,Cream Cheese,2.89,2024-11-07,2024-11-12,13
28,14,Company_14,98694,bakeries_and_pastry,Salted Butter,4.19,2024-11-16,2024-11-22,13
29,15,Company_15,98693,restaurants_and_cafe,Organic Spinach,2.99,2024-10-20,2024-10-25,44
30,15,Company_15,98693,restaurants_and_cafe,Rye Bread,4.59,2024-09-21,2024-09-27,16
31,16,Company_16,98694,bakeries_and_pastry,Garlic Naan Bread (2 pieces),2.29,2025-04-29,2025-05-09,44
32,16,Company_16,98694,bakeries_and_pastry,Sourdough Bread,5.29,2024-09-21,2024-09-27,34
33,17,Company_17,98694,food_industry,Basmati Rice,3.99,2024-10-10,2024-10-15,37
34,18,Company_18,98694,clubs_and_bars,Avocados,2.29,2024-09-30,2024-10-05,27
35,18,Company_18,98694,clubs_and_bars,Avocados,1.89,2025-02-07,2025-02-12,50
36,19,Company_19,98693,restaurants_and_cafe,Frozen Breaded Shrimp,10.49,2025-08-25,2025-09-04,28
37,19,Company_19,98693,restaurants_and_cafe,Gluten-Free Bread,5.29,2024-12-26,2025-01-05,21
38,19,Company_19,98693,restaurants_and_cafe,Gluten-Free Bread,5.29,2024-12-26,2025-01-05,42
39,20,Company_20,98693,restaurants_and_cafe,Frozen Breaded Fish Sticks,4.99,2025-11-02,2025-11-07,49

In [39]:
hist_final.to_csv('hist.csv')

In [37]:

# Open a text file to save the inventory data
with open('inventory.txt', 'w') as f:
    for index, row in df.iterrows():
        # Construct a text representation of each row
        text = f"Item Name: {row['name']}, Quantity: {row['available']}, Expiry Date: {row['expiresAt']}\n"
        # Write the text to the file
        f.write(text)

print("Inventory data saved to inventory.txt")

Inventory data saved to inventory.txt

In [ ]:
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